h2 {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 5px;
  }
  
  #title div {
    margin-bottom: 10px;
  }
  
  #text {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .main {
    background-color: lightgray;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-flow: row;
    min-height: 500px;
    max-width: 2000px;
    min-width: 800px;
    margin: 20px;
    
  }
  
  .menu {
    border-right: 1px solid white;
    text-align: center;
    margin: 10px;
    min-height: 100%;
    min-width: 190px;
  }
  
  .menu div {
    padding: 10px 25px;
  }
  
  .description {
    margin-left: 30px;
    display: flex;
    flex-flow: row;
  }
  
  #actors {
    display: flex;
    flex-flow: row wrap;
  }
  
  #actors div {
    word-wrap: break-word;
    height: 60px;
    width: fit-content;
    max-width: 90px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 13px;
    margin-left: 0;
    background-color: rgb(69, 146, 213);
  }
  
  #image {
    padding: 10px;
    min-width: 500px;
    max-height: 600px;
  }
  
  img {
    width: 500px;
    height: 600px;
    border-radius: 0 5px 5px 0;
  }
  
  .active {
    border-left: rgb(69, 146, 213) solid 3px;
  }