.main {
    margin: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  
  .butt {
    display: flex;
    flex-flow: row wrap;
  }
  
  input[type="button"] {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #009EF9;
    border: none;
    margin-right: 15px;
    color: white;
  }
  
  input[type="text"] {
    height: 25px;
    border-radius: 5px;
    border: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .block1 input[type="text"] {
    border: rgb(35, 157, 213) solid 2px;
    height: 20px;
  }
  
  textarea {
    height: 120px;
    border-radius: 5px;
    border: #009ef9 solid 2px;
  }
  
  .block1 {
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-flow: wrap column;
    min-width: 450px;
  }
  
  label {
    color: #224E6E;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .block2 {
    display: flex;
    flex-flow: wrap column;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    min-width: 450px;
  }
  
  