* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: stretch;
    padding: 16px;
    padding-bottom: 0px;
    padding: auto;
    padding-top: 25%;
    min-height: 99.4%;
    color: white;
    background-color: rgba(206, 203, 203, 0.8);
    
}

.next {
  right: 0;

}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}